<%=#Information for the about page for the user%>
<% provide(:title, "About") %>
<div class="center jumbotron">
  <div id="about_page">
    <h1>About</h1>
    <p>This tool was developed by MAMAS MIA for the CSE 3901 Final Project in 2021.</p>
    <p>Inspiration for the site came from <a href="https://catme.org/login/index">Purdue's CATME</a> system.</p>

    <%= image_tag "dogme.png", height: 300 %>
  </div>
</div>