<%=#Information for the help page for the user%>

<% provide(:title, "Help") %>
<div class="center jumbotron">
  <div id="help_page">
    <h1>Help</h1>
    <h2>
      <li>Reach out to your instructor if you are having issues accessing your group or signing up.</li>
      <li>Contact the system administrator at fake_email@address.com if you are an instructor and need an account made for you.</li>
    </h2>
  </div>
</div>