@import "bootstrap-sprockets";
@import "bootstrap";

html{
  overflow-y: scroll;
}

body{
  padding-top: 50px;
}

.center{
  text-align: center;
}

#title_button{
  font-size: 2em;
  float: left;
  color: ghostwhite;
  padding-top: 7px;
  font-weight: bold;
}

.btn-primary{
  background-color: hotpink !important;
  border-color: hotpink !important;
  color: black !important;
  margin-bottom: 15px !important;
}

input, textarea, select{
  border: 2px solid #bbb;
  width: 100%;
  margin-bottom: 30px;
}

input {
  height: auto !important;
}

#signup_message{
  text-align: center;
  h1 {
    font-size: 3em;
    padding: 20px;
    font-weight: bold;
  }
}

#error_explanation{
  text-align: center;
}

#about_page{
  text-align: center;
  font-size: 2em;
}

#help_page{
  text-align: center;
  h2 {
    font-size: 1.5em !important;
    text-align: left !important;
    line-height: 2;
  }
}
#login_title{
  text-align: center;
  font-size: 3em;
  padding: 15px;
}

.jumbotron{
  margin-top: 30px !important;
}

#rating_field{
  text-align: center;
}

.spacer{
  margin-bottom: 80px;
}